.btn:disabled {
  cursor: default;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.top {
  border-bottom: solid;
  height: 60px;
}

.top-bar {
  height: 35px;
  margin-left: 10px;
  margin-top: 5px;
}

.taskSearch {
  height: 100%;
  border: none;
  background-color: rgba(0,0,0,0);
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  border: solid 2px;
  border-radius: 5px;
}

.tier-dropdown {
  display: inline-block;
  margin-left: 10px;
}

.tier-button {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: -5px;
}

.tier.active {
  font-weight: bold;
}

.tier.easy:hover:not(.active) {
  color: red;
}

.tier.medium:hover:not(.active) {
  color: orange;
}

.tier.hard:hover:not(.active) {
  color: rgb(223, 194, 35);
}

.taskrow {
  border: solid rgb(200, 200, 200);
  border-radius: 10px;
  background-color: rgb(215, 215, 215);
  height: auto;
  min-height: 50px;
  margin-bottom: 10px;
  margin-left: 10px;
  position: relative;
  display: flex;
  align-items: center;
}

.taskrow.done {
  background-color: rgb(158, 231, 151);
}

.taskid {
  margin-right: 10px;
  font-weight: bold;
  border-right: solid rgb(175, 175, 175);
  display: inline-block;
  min-width: 60px;
  max-width: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.taskname {
  line-height: 20px;
}

.tier-header {
  font-size: 18px;
  text-decoration: underline;
  margin-left: 5px;
}