/* Global */

body {
  text-align: center;
  overflow-x: hidden;
}

.btn:disabled {
  cursor: default;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Modal */

.modal-header {
  padding-top: 5px;
  padding-bottom: 5px;
}

.modal-body {
  padding-top: 5px;
  padding-bottom: 5px;
}

.modal-body > h4 {
  margin-bottom: 15px;
}

.modal-body > p {
  margin-bottom: 10px;
  text-align: left;
}

.modal-footer {
  padding-top: 5px;
  padding-bottom: 5px;
}

.modal-header > .close {
  padding: 20px;
}

.progress-container {
  position: relative;
  width: 80%;
  margin-top: -35px;
}

.progress-btn {
  border: solid;
  border-radius: 5px;
  position: absolute;
  padding: 3px;
  left: 0px;
  width: 40%;
  height: 38px;
  z-index: 99;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.progress-btn.submitting {
  cursor: not-allowed;
}

.progress {
  position: absolute;
  left: 0px;
  width: 0%;
  height: 38px;
  background-color: rgb(123, 187, 117);
}

/* Dashboard */

.active-container {
  border: solid;
}

.active-container > .row {
  margin-left: 0px;
}

.active-header {
  height: 50px;
  font-size: 36px;
  padding-top: 5px;
  line-height: 30px;
  padding-left: 0px;
  padding-right: 0px;
  border-bottom: solid;
  border-right: solid;
}

.active-name {
  font-weight: bold;
}

.active-img {
  height: 100px;
  width: 100px;
  float: left;
}

.active-desc {
  padding-top: 10px;
}

.col1 {
  padding-left: 0px;
  padding-right: 0px;
}

/* Info */

.progression-info {
  height: 100vh;
  background-color: rgb(231, 231, 231);
  position: fixed;
  padding-left: 10px;
  padding-right: 10px;
  width: 18%;
}

.progression-info > .username {
  font-size: 24px;
  font-weight: bold;
}

.progression-info > .activeTier {
  font-size: 18px;
  font-weight: bold;
}

.progression-info > .activeProgress {
  font-size: 18px;
  margin-bottom: 15px;
}

.progression-info > .passiveProgress.complete {
  color: rgb(123, 187, 117);
  font-weight: bold;
}

.progression-info > .totalProgress {
  font-size: 18px;
}

/* Tasks */

.tasklist {
  margin-left: 15px;
}

.top {
  border-bottom: solid;
  height: 60px;
  margin-left: 10px;
}

.top-bar {
  height: 35px;
  margin-left: 10px;
  margin-top: 5px;
}

.taskSearch {
  height: 100%;
  border: none;
  background-color: rgba(0,0,0,0);
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  border: solid 2px;
  border-radius: 5px;
}

.tier-dropdown {
  display: inline-block;
  margin-left: 10px;
}

.tier-button {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: -5px;
}

.tier.active {
  font-weight: bold;
}

.tier.easy:hover:not(.active) {
  color: red;
}

.tier.medium:hover:not(.active) {
  color: orange;
}

.tier.hard:hover:not(.active) {
  color: rgb(223, 194, 35);
}

.showComplete-container {
  display: inline-block;
  margin-left: 15px;
}

.showComplete-container > .label {
  font-size: 18px;
  border: solid;
  padding: 3px;
  margin-top: 5px;
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.showComplete-container > .label.off {
  background-color: rgb(231, 151, 151);
}

.showComplete-container > .label.on {
  background-color: rgb(158, 231, 151);
}

.showComplete-container > .switch {
  margin-left: 5px;
  margin-top: 10px;
}

.tasks {
  text-align: left;
}

.taskrow {
  border: solid rgb(200, 200, 200);
  border-radius: 10px;
  background-color: rgb(215, 215, 215);
  height: auto;
  min-height: 50px;
  margin-bottom: 10px;
  margin-left: 10px;
  position: relative;
  display: flex;
  align-items: center;
}

.taskrow.done {
  background-color: rgb(158, 231, 151);
}

.taskrow > .info {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.taskid {
  margin-right: 10px;
  font-weight: bold;
  border-right: solid rgb(175, 175, 175);
  display: inline-block;
  min-width: 60px;
  max-width: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.taskid > span {
  cursor: pointer;
}

.taskid > span:hover {
  text-decoration: underline;
}

.taskname {
  line-height: 20px;
  margin-right: 40px;
}

.tier-header {
  font-size: 18px;
  text-decoration: underline;
  margin-left: 5px;
}

.info:hover {
  color: rgb(150, 150, 150);
}

/* Card */

.card {
  position: fixed;
}

.card-img {
  height: 80%;
  width: 80%;
  margin-left: 10%;
}

.card-title.main {
  font-size: 36px;
}

.card-title.secondary {
  font-size: 18px;
}

.wiki-btn {
  float: left;
}

.complete-btn {
  float: right;
}