body {
  text-align: center;
}

.btn:disabled {
  cursor: default;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.modal-header {
  padding-top: 5px;
  padding-bottom: 5px;
}

.modal-body {
  padding-top: 5px;
  padding-bottom: 5px;
}

.modal-body > h4 {
  margin-bottom: 15px;
}

.modal-body > p {
  margin-bottom: 10px;
  text-align: left;
}

.modal-footer {
  padding-top: 5px;
  padding-bottom: 5px;
}

.modal-header > .close {
  padding: 20px;
}

.top {
  border-bottom: solid;
  height: 60px;
}

.top-bar {
  height: 35px;
  margin-left: 10px;
  margin-top: 5px;
}

.taskSearch {
  height: 100%;
  border: none;
  background-color: rgba(0,0,0,0);
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  border: solid 2px;
  border-radius: 5px;
}

.tier-dropdown {
  display: inline-block;
  margin-left: 10px;
}

.tier-button {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: -5px;
}

.tier.active {
  font-weight: bold;
}

.tier.easy:hover:not(.active) {
  color: red;
}

.tier.medium:hover:not(.active) {
  color: orange;
}

.tier.hard:hover:not(.active) {
  color: rgb(223, 194, 35);
}

.tasks {
  text-align: left;
}

.taskrow {
  border: solid rgb(200, 200, 200);
  border-radius: 10px;
  background-color: rgb(215, 215, 215);
  height: auto;
  min-height: 50px;
  margin-bottom: 10px;
  margin-left: 10px;
  position: relative;
  display: flex;
  align-items: center;
}

.taskrow.done {
  background-color: rgb(158, 231, 151);
}

.taskrow > .info {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.taskid {
  margin-right: 10px;
  font-weight: bold;
  border-right: solid rgb(175, 175, 175);
  display: inline-block;
  min-width: 60px;
  max-width: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.taskid > span {
  cursor: pointer;
}

.taskid > span:hover {
  text-decoration: underline;
}

.taskname {
  line-height: 20px;
  margin-right: 40px;
}

.tier-header {
  font-size: 18px;
  text-decoration: underline;
  margin-left: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 26px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2.75px;
  background-color: white;
  -webkit-transition: .25s;
  transition: .25s;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(25px);
}